**/tests
**/docs 
**/.venv/
**/__pycache__/

**/.env
**/*.db
.sqlite3
*.sqlite3
./*.sqlite3
**/db.sqlite3
**/*.sqlite3
**/.pylintrc
**/.flake8
**/.eslintrc.cjs
**/.gitignore
**/poetry.lock
poetry.lock
**/env.dist
**/.eslintrc.cjs
**/README.md
backend/db.sqlite3
/db.sqlite3
