**/tests
**/docs 
**/.venv/
**/__pycache__/

venv/
.venv/
./.venv/
./venv/
venv/
.venv/
./.venv/
./venv/


db.sqlite3
*.sqlite3
**/*.sqlite3

**/.env
**/.pylintrc
**/.flake8
**/.eslintrc.cjs
**/.gitignore
**/poetry.lock
poetry.lock
**/env.dist
**/.eslintrc.cjs
**/README.md
