html {
  word-break: break-word;
}

code {
  /* white-space-collapse: preserve !important; */
  overflow-x: auto;
  width: auto;
}

math {
  margin-top: 1rem;
}

.markdown-prose {
  @apply prose whitespace-pre-line;
}

.markdown a {
  @apply underline;
}

.font-primary {
  font-family: 'Archivo', sans-serif;
}

ol > li {
  counter-increment: list-number;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 28px;
}

.prose ol > li::before {
  content: counters(list-number, '.') '.';
  padding-right: 0.5rem;
  color: hsl(var(--muted-foreground));
  font-weight: 600;
}

.markdown a {
  color: #1b6ac9;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

li p {
  display: inline;
}
